## Liberias y limpieza

### Importar Librerías

In [1]:

# trabajar con dataframes
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from datetime import datetime
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from scipy.spatial.distance import pdist, squareform, cosine

# Librerías auxiliares
# Import linear_kernel

### Limpieza de datos

In [2]:
#df_ini = pd.read_csv("DF2022Ene_Jun_3.csv",delimiter=';')
df_ini = pd.read_csv("Datos/DF2022Ene_Mar_Creditos_Completo.csv",delimiter=';')

In [3]:
# Mostrar los primeros 6 datos
df_ini.head(6)

,creditocodigo,AlmacenCodigo,Categoria,AntiguedadAlmacen,municipioCodigo,Municipio_Almacen,Departamento_Almacen,CodDANE_DptoAlmacen,Canal,PersonaCodigo,...,TasaMora,ValorFactura,UltimaCuotaPagada,FechaUltimoPago,plazo,frecuencia,DescripcionEstadoCredito,valorCuota,CantidadCuotas,FechaCreacionCredito
0,21593606,13394,Zapatos,8,132,Cali,Valle Del Cauca,76,Canal fisico,644573,...,0.019,99953,0,2022-03-10 07:26:59.390,90,30,Pagado,34592,3,2022-01-29 16:07:04.880
1,21592174,15280,Bolsos y Vestuario,7,603,Soacha,Cundinamarca,25,Canal fisico,1324687,...,0.019,74900,0,2022-04-01 15:19:10.133,60,30,Pagado,38521,2,2022-01-29 15:32:57.320
2,21592567,38261,Vestuario,2,130,Bogotá,Bogotá D.c.,11,Ecommerce,4283228,...,0.019,80940,0,2022-05-29 10:50:44.093,120,30,Pagado,21205,4,2022-01-29 15:42:20.190
3,21592967,14043,Deportes,7,220,Florencia,Caqueta,18,Canal fisico,2020091,...,0.019,179000,0,2022-02-04 11:41:20.943,120,30,Pagado,46896,4,2022-01-29 15:52:08.840
4,21592954,12790,Zapatos,8,139,Guadalajara de Buga,Valle Del Cauca,76,Canal fisico,541558,...,0.019,65000,0,2022-04-26 10:38:39.643,90,30,Pagado,22495,3,2022-01-29 15:51:46.927
5,21592652,15525,Vestuario,7,141,Cucuta,Norte De Santander,54,Canal fisico,3874739,...,0.019,39980,0,2022-02-12 15:27:49.630,30,30,Pagado,40740,1,2022-01-29 15:44:14.237

In [4]:
df_ini_credito = pd.read_csv("Datos/DF2022Ene_Mar_Creditos.csv",delimiter=';')
df_ini_almacen = pd.read_csv("Datos/DF2022Ene_Mar_Almacenes.csv",delimiter=';')
df_ini_persona = pd.read_csv("Datos/DF2022Ene_Mar_Personas.csv",delimiter=';')

In [5]:
df_ini_credito.head(6)

,creditocodigo,AlmacenCodigo,PersonaCodigo,DiasMora,SaldoMora,CuotasVencidas,ValorCapital,TasaDescuento,TasaFinanciacion,TasaMora,ValorFactura,UltimaCuotaPagada,FechaUltimoPago,plazo,frecuencia,DescripcionEstadoCredito,valorCuota,CantidadCuotas,FechaCreacionCredito
0,21593606,13394,644573,0,0,0,115670,0.020,0.019,0.019,99953,0,2022-03-10 07:26:59.390,90,30,Pagado,34592,3,2022-01-29 16:07:04.880
1,21592174,15280,1324687,0,0,0,85955,0.010,0.019,0.019,74900,0,2022-04-01 15:19:10.133,60,30,Pagado,38521,2,2022-01-29 15:32:57.320
2,21592567,38261,4283228,0,0,0,94452,0.010,0.019,0.019,80940,0,2022-05-29 10:50:44.093,120,30,Pagado,21205,4,2022-01-29 15:42:20.190
3,21592967,14043,2020091,0,0,0,208885,0.015,0.019,0.019,179000,0,2022-02-04 11:41:20.943,120,30,Pagado,46896,4,2022-01-29 15:52:08.840
4,21592954,12790,541558,0,0,0,75220,0.020,0.019,0.019,65000,0,2022-04-26 10:38:39.643,90,30,Pagado,22495,3,2022-01-29 15:51:46.927
5,21592652,15525,3874739,0,0,0,45498,0.010,0.019,0.019,39980,0,2022-02-12 15:27:49.630,30,30,Pagado,40740,1,2022-01-29 15:44:14.237

In [6]:
df_ini_almacen.head(6)

,AlmacenCodigo,NombreAlmacen,Canal,FechaCreacion,RazonSocial,NombreComercial,Categoria,municipioCodigo,Municipio_Almacen,Departamento_Almacen,CodDANE_DptoAlmacen,AntiguedadAlmacen
0,21083,El Templo De La Moda 2 Cali,Fisico,31/07/2018,El Templo De La Moda S.A.S.,El Templo De La Moda,Vestuario,132,Cali,Valle Del Cauca,76,5
1,16357,Bata BG Florencia 2,Fisico,6/04/2017,CIA Manufacturera Manisol S.A.,Bata,Zapatos,220,Florencia,Caqueta,18,6
2,24327,Surtitodo Mayorca,Fisico,13/03/2019,Compania Comercial Universal S.A.S.,Surtitodo,Vestuario,3,Sabaneta,Antioquia,5,4
3,16346,Totto Santander de Quilichao,Fisico,6/04/2017,PX Retail S.A.S.,Totto,Bolsos y Vestuario,460,Santander De Quilichao,Cauca,19,6
4,1556,Bata Medellin Centro No 5,Fisico,25/10/2012,CIA Manufacturera Manisol S.A.,Bata,Zapatos,1,Medellin,Antioquia,5,11
5,14610,Totto Pamplona,Fisico,23/08/2016,Kalos Comercializadora S.A.S.,Totto,Bolsos y Vestuario,858,Pamplona,Norte De Santander,54,7

In [7]:
df_ini_persona.head(6)

   PersonaCodigo  Edad     Genero
0         644573  47.0   Femenino
1        1324687  53.0   Femenino
2        4283228  36.0   Femenino
3        2020091  60.0  Masculino
4         541558  50.0   Femenino
5        3874739  30.0   Femenino

#### Almacen

In [8]:
#Combinar Municipio y Departamento del almacen
df_ini_almacen['Ubicacion_Almacen'] = df_ini_almacen['Departamento_Almacen'].str.cat(df_ini_almacen['Municipio_Almacen'], sep='-')

In [9]:
df_ini_almacen = df_ini_almacen.astype({'AlmacenCodigo':'object','municipioCodigo':'object','CodDANE_DptoAlmacen':'object'})
df_ini_almacen.dtypes

AlmacenCodigo           object
NombreAlmacen           object
Canal                   object
FechaCreacion           object
RazonSocial             object
NombreComercial         object
Categoria               object
municipioCodigo         object
Municipio_Almacen       object
Departamento_Almacen    object
CodDANE_DptoAlmacen     object
AntiguedadAlmacen        int64
Ubicacion_Almacen       object
dtype: object

In [10]:
print('Cantidad de Filas y columnas de Almacenes:',df_ini_almacen.shape)
print('Nombre columnas de Almacenes:',df_ini_almacen.columns)

Cantidad de Filas y columnas de Almacenes: (1718, 13)
Nombre columnas de Almacenes: Index(['AlmacenCodigo', 'NombreAlmacen', 'Canal', 'FechaCreacion',
       'RazonSocial', 'NombreComercial', 'Categoria', 'municipioCodigo',
       'Municipio_Almacen', 'Departamento_Almacen', 'CodDANE_DptoAlmacen',
       'AntiguedadAlmacen', 'Ubicacion_Almacen'],
      dtype='object')

#### Persona

In [11]:
#Reemplazar los valores de Genero de texto, por numero
df_ini_persona['Genero'] = df_ini_persona['Genero'].replace('F', 1, regex=True)
df_ini_persona['Genero'] = df_ini_persona['Genero'].replace('M', 0, regex=True)
df_ini_persona['Genero'] = df_ini_persona['Genero'].replace(np.NaN, 2, regex=True)

In [12]:
df_ini_persona = df_ini_persona.astype({'PersonaCodigo':'object','Genero':'uint8'})
df_ini_persona.dtypes

PersonaCodigo     object
Edad             float64
Genero             uint8
dtype: object

In [13]:
print('Cantidad de Filas y columnas de Personas:',df_ini_persona.shape)
print('Nombre columnas  de Personas:',df_ini_persona.columns)

Cantidad de Filas y columnas de Personas: (9878, 3)
Nombre columnas  de Personas: Index(['PersonaCodigo', 'Edad', 'Genero'], dtype='object')

#### Creditos

In [14]:
#Reemplazar las comas por puntos para los campos numericos
df_ini_credito['SaldoMora'] = df_ini_credito['SaldoMora'].replace(',', '.', regex=True)
df_ini_credito['ValorCapital'] = df_ini_credito['ValorCapital'].replace(',', '.', regex=True)
df_ini_credito['ValorFactura'] = df_ini_credito['ValorFactura'].replace(',', '.', regex=True)
df_ini_credito['valorCuota'] = df_ini_credito['valorCuota'].replace(',', '.', regex=True)

In [15]:
df_ini_credito = df_ini_credito.astype({'SaldoMora': 'float64', 'ValorCapital': 'float64', 'ValorFactura':'float64', 'valorCuota':'float64', 'creditocodigo':'object', 'AlmacenCodigo':'object','PersonaCodigo':'object','plazo':'float32','frecuencia':'float32','CantidadCuotas':'float32','TasaDescuento':'float32','TasaFinanciacion':'float32','TasaMora':'float32'})
df_ini_credito.dtypes

creditocodigo                object
AlmacenCodigo                object
PersonaCodigo                object
DiasMora                      int64
SaldoMora                   float64
CuotasVencidas                int64
ValorCapital                float64
TasaDescuento               float32
TasaFinanciacion            float32
TasaMora                    float32
ValorFactura                float64
UltimaCuotaPagada             int64
FechaUltimoPago              object
plazo                       float32
frecuencia                  float32
DescripcionEstadoCredito     object
valorCuota                  float64
CantidadCuotas              float32
FechaCreacionCredito         object
dtype: object

In [16]:
print('Cantidad de Filas y columnas:',df_ini_credito.shape)
print('Nombre columnas:',df_ini_credito.columns)

Cantidad de Filas y columnas: (56237, 19)
Nombre columnas: Index(['creditocodigo', 'AlmacenCodigo', 'PersonaCodigo', 'DiasMora',
       'SaldoMora', 'CuotasVencidas', 'ValorCapital', 'TasaDescuento',
       'TasaFinanciacion', 'TasaMora', 'ValorFactura', 'UltimaCuotaPagada',
       'FechaUltimoPago', 'plazo', 'frecuencia', 'DescripcionEstadoCredito',
       'valorCuota', 'CantidadCuotas', 'FechaCreacionCredito'],
      dtype='object')

In [17]:
df_ini_credito.describe()

,DiasMora,SaldoMora,CuotasVencidas,ValorCapital,TasaDescuento,TasaFinanciacion,TasaMora,ValorFactura,UltimaCuotaPagada,plazo,frecuencia,valorCuota,CantidadCuotas
count,56237.000000,5.623700e+04,56237.000000,5.623700e+04,56237.000000,56237.000000,56237.000000,5.623700e+04,56237.000000,56237.000000,56237.000000,5.623700e+04,56237.000000
mean,16.816046,8.477532e+03,0.155752,1.808659e+05,0.012064,0.019342,0.019342,1.547962e+05,0.011309,93.456802,29.695663,5.505319e+04,3.169337
std,78.003615,5.753093e+04,0.820885,1.883753e+05,0.007032,0.002214,0.002214,1.575696e+05,0.249646,48.262875,2.114832,5.262835e+04,1.681946
min,0.000000,0.000000e+00,0.000000,1.133000e+04,0.000000,0.000000,0.000000,1.000000e+04,0.000000,30.000000,15.000000,5.070000e+03,1.000000
25%,0.000000,0.000000e+00,0.000000,7.961600e+04,0.010000,0.019000,0.019000,6.935000e+04,0.000000,60.000000,30.000000,2.879200e+04,2.000000
50%,0.000000,0.000000e+00,0.000000,1.281300e+05,0.010000,0.020000,0.020000,1.099010e+05,0.000000,90.000000,30.000000,4.376000e+04,3.000000
75%,0.000000,0.000000e+00,0.000000,2.112190e+05,0.020000,0.020000,0.020000,1.825000e+05,0.000000,120.000000,30.000000,6.169100e+04,4.000000
max,454.000000,2.396455e+06,16.000000,3.679649e+06,0.100000,0.020000,0.020000,2.935000e+06,16.000000,360.000000,30.000000,1.863948e+06,16.000000

##### Detalle Almacen

In [18]:
df_combined_persona_credito = pd.merge(df_ini_credito[['creditocodigo', 'AlmacenCodigo', 'PersonaCodigo','ValorFactura']], df_ini_persona[['PersonaCodigo','Genero','Edad']], on='PersonaCodigo')
df_combined_persona_credito.head()

  creditocodigo AlmacenCodigo PersonaCodigo  ValorFactura  Genero  Edad
0      21593606         13394        644573       99953.0       1  47.0
1      21593103         16197        644573       84900.0       1  47.0
2      21592240          1937        644573      111800.0       1  47.0
3      21815693         40877        644573      250000.0       1  47.0
4      21592174         15280       1324687       74900.0       1  53.0

In [19]:
df_almacenes_variables = df_combined_persona_credito.groupby('AlmacenCodigo').agg(TotalCreditos=('creditocodigo', 'count'),CreditosMujeres=('Genero', 'sum'),cant_clientes=('PersonaCodigo', 'nunique'), edad_clientes=('Edad', 'mean'), Prom_Valorfactura=('ValorFactura', 'mean'))

In [20]:
#2.segundo paso: Calcular las proporciones y eliminar las otras del dataframe de almacenes
df_almacenes_variables['porcentaje_mujeres'] = (df_almacenes_variables['CreditosMujeres'] / df_almacenes_variables['TotalCreditos']) #PROPORCION MUJERES
df_almacenes_variables = df_almacenes_variables.drop('CreditosMujeres', axis=1)
df_almacenes_variables.head()

,TotalCreditos,cant_clientes,edad_clientes,Prom_Valorfactura,porcentaje_mujeres
AlmacenCodigo,,,,,
10,1,1,34.000000,139853.000000,1.0
17,19,8,33.263158,135604.473684,1.0
35,12,9,40.500000,238183.333333,1.0
194,5,2,34.000000,336214.400000,0.8
303,7,4,29.428571,158696.142857,1.0

### Asignación de dataset a df

In [21]:
df_credito = df_ini_credito[['creditocodigo', 'AlmacenCodigo', 'PersonaCodigo']]
df_almacen = df_ini_almacen[['AlmacenCodigo','Categoria','Ubicacion_Almacen','Canal']]
df_persona = df_ini_persona
df_almacen_detalle = pd.merge(df_almacen, df_almacenes_variables, on='AlmacenCodigo')
df_almacen_detalle.head()
#df = df[df['FechaCreacionCredito'].str.startswith('2022-05')]

,AlmacenCodigo,Categoria,Ubicacion_Almacen,Canal,TotalCreditos,cant_clientes,edad_clientes,Prom_Valorfactura,porcentaje_mujeres
0,21083,Vestuario,Valle Del Cauca-Cali,Fisico,87,42,33.747126,103334.413793,0.965517
1,16357,Zapatos,Caqueta-Florencia,Fisico,47,39,34.319149,91275.340426,0.851064
2,24327,Vestuario,Antioquia-Sabaneta,Fisico,21,15,35.380952,140498.714286,0.904762
3,16346,Bolsos y Vestuario,Cauca-Santander De Quilichao,Fisico,17,8,35.647059,218770.588235,0.647059
4,1556,Zapatos,Antioquia-Medellin,Fisico,4,4,29.250000,147137.500000,1.000000

## Algoritmos de recomendacion

### Diseño de df para algoritmos

In [22]:
df_almacenes = pd.get_dummies(df_almacen, columns=['Categoria', 'Ubicacion_Almacen', 'Canal'])
df_almacenes.head()

,AlmacenCodigo,Categoria_Accesorios,Categoria_Bebes,Categoria_Bolsos,Categoria_Bolsos y Vestuario,Categoria_Comidas y Bares,Categoria_Construccion,Categoria_Deportes,Categoria_Hogar,Categoria_Hogar y Tecnologia,...,Ubicacion_Almacen_Valle Del Cauca-Roldanillo,Ubicacion_Almacen_Valle Del Cauca-Sevilla,Ubicacion_Almacen_Valle Del Cauca-Trujillo,Ubicacion_Almacen_Valle Del Cauca-Tulua,Ubicacion_Almacen_Valle Del Cauca-Union,Ubicacion_Almacen_Valle Del Cauca-Yumbo,Ubicacion_Almacen_Valle Del Cauca-Zarzal,Canal_Ecommerce,Canal_Fisico,Canal_Tienda Virtual
0,21083,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,16357,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,24327,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,16346,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,1556,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [23]:
df_almacenes_index = df_almacenes.set_index('AlmacenCodigo')
df_almacenes_index.head()

,Categoria_Accesorios,Categoria_Bebes,Categoria_Bolsos,Categoria_Bolsos y Vestuario,Categoria_Comidas y Bares,Categoria_Construccion,Categoria_Deportes,Categoria_Hogar,Categoria_Hogar y Tecnologia,Categoria_Movilidad,...,Ubicacion_Almacen_Valle Del Cauca-Roldanillo,Ubicacion_Almacen_Valle Del Cauca-Sevilla,Ubicacion_Almacen_Valle Del Cauca-Trujillo,Ubicacion_Almacen_Valle Del Cauca-Tulua,Ubicacion_Almacen_Valle Del Cauca-Union,Ubicacion_Almacen_Valle Del Cauca-Yumbo,Ubicacion_Almacen_Valle Del Cauca-Zarzal,Canal_Ecommerce,Canal_Fisico,Canal_Tienda Virtual
AlmacenCodigo,,,,,,,,,,,,,,,,,,,,,
21083,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
16357,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
24327,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
16346,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1556,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [24]:
df_almacenes_dummies = pd.get_dummies(df_almacen_detalle, columns=['Categoria', 'Ubicacion_Almacen', 'Canal'])
df_almacenes_dummies.head()

,AlmacenCodigo,TotalCreditos,cant_clientes,edad_clientes,Prom_Valorfactura,porcentaje_mujeres,Categoria_Accesorios,Categoria_Bebes,Categoria_Bolsos,Categoria_Bolsos y Vestuario,...,Ubicacion_Almacen_Valle Del Cauca-Roldanillo,Ubicacion_Almacen_Valle Del Cauca-Sevilla,Ubicacion_Almacen_Valle Del Cauca-Trujillo,Ubicacion_Almacen_Valle Del Cauca-Tulua,Ubicacion_Almacen_Valle Del Cauca-Union,Ubicacion_Almacen_Valle Del Cauca-Yumbo,Ubicacion_Almacen_Valle Del Cauca-Zarzal,Canal_Ecommerce,Canal_Fisico,Canal_Tienda Virtual
0,21083,87,42,33.747126,103334.413793,0.965517,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,16357,47,39,34.319149,91275.340426,0.851064,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,24327,21,15,35.380952,140498.714286,0.904762,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,16346,17,8,35.647059,218770.588235,0.647059,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
4,1556,4,4,29.250000,147137.500000,1.000000,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [25]:
df_almacenes_stand = df_almacenes_dummies.copy()

# Estandarizar las variables numéricas utilizando la escala Min-Max
scaler = MinMaxScaler()
df_almacenes_stand[['TotalCreditos', 'cant_clientes', 'edad_clientes', 'Prom_Valorfactura', 'porcentaje_mujeres']] = scaler.fit_transform(df_almacenes_stand[['TotalCreditos', 'cant_clientes', 'edad_clientes', 'Prom_Valorfactura', 'porcentaje_mujeres']])
df_almacenes_stand.head()

,AlmacenCodigo,TotalCreditos,cant_clientes,edad_clientes,Prom_Valorfactura,porcentaje_mujeres,Categoria_Accesorios,Categoria_Bebes,Categoria_Bolsos,Categoria_Bolsos y Vestuario,...,Ubicacion_Almacen_Valle Del Cauca-Roldanillo,Ubicacion_Almacen_Valle Del Cauca-Sevilla,Ubicacion_Almacen_Valle Del Cauca-Trujillo,Ubicacion_Almacen_Valle Del Cauca-Tulua,Ubicacion_Almacen_Valle Del Cauca-Union,Ubicacion_Almacen_Valle Del Cauca-Yumbo,Ubicacion_Almacen_Valle Del Cauca-Zarzal,Canal_Ecommerce,Canal_Fisico,Canal_Tienda Virtual
0,21083,0.115591,0.106771,0.260145,0.022831,0.861137,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,16357,0.061828,0.098958,0.271819,0.018112,0.759057,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,24327,0.026882,0.036458,0.293489,0.037377,0.806950,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,16346,0.021505,0.018229,0.298920,0.068012,0.577107,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
4,1556,0.004032,0.007812,0.168367,0.039976,0.891892,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [26]:
df_almacenes_stand_index = df_almacenes_stand.set_index('AlmacenCodigo')
df_almacenes_stand_index.head()

,TotalCreditos,cant_clientes,edad_clientes,Prom_Valorfactura,porcentaje_mujeres,Categoria_Accesorios,Categoria_Bebes,Categoria_Bolsos,Categoria_Bolsos y Vestuario,Categoria_Comidas y Bares,...,Ubicacion_Almacen_Valle Del Cauca-Roldanillo,Ubicacion_Almacen_Valle Del Cauca-Sevilla,Ubicacion_Almacen_Valle Del Cauca-Trujillo,Ubicacion_Almacen_Valle Del Cauca-Tulua,Ubicacion_Almacen_Valle Del Cauca-Union,Ubicacion_Almacen_Valle Del Cauca-Yumbo,Ubicacion_Almacen_Valle Del Cauca-Zarzal,Canal_Ecommerce,Canal_Fisico,Canal_Tienda Virtual
AlmacenCodigo,,,,,,,,,,,,,,,,,,,,,
21083,0.115591,0.106771,0.260145,0.022831,0.861137,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
16357,0.061828,0.098958,0.271819,0.018112,0.759057,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
24327,0.026882,0.036458,0.293489,0.037377,0.806950,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
16346,0.021505,0.018229,0.298920,0.068012,0.577107,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1556,0.004032,0.007812,0.168367,0.039976,0.891892,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

## Basado en contenido

### Similitud Coseno

#### Matriz de similitud entre los almacenes con Coseno

In [27]:
# Calcular la matriz de similitud entre los almacenes con Coseno
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(df_almacenes_index)

In [28]:
##Revision de los resultados de coseno
pd.DataFrame(cosine_sim).to_csv('Resultados/df_distancias.csv', index=False)

In [29]:
#
indices = pd.Series(df_almacenes.index, index=df_almacenes['AlmacenCodigo'])

In [30]:
indices[:10]
indices.shape

(1718,)

#### Funcion Lista de almacenes similares para un cliente usando **Coseno**

In [31]:
cosine_sim.shape

(1718, 1718)

In [32]:
import itertools

def listaAlmacenesSimilares_coseno(cliente, cosine_sim=cosine_sim):
    list_alm = df_credito.loc[df_credito['PersonaCodigo'] == cliente, 'AlmacenCodigo'].values
    idx = [indices[alm] for alm in list_alm]
    sim = []
    for i in idx:
        sim_scores = list(enumerate(cosine_sim[i]))
        sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
        sim_scores = [score for score in sim_scores if score[0] != i]
        sim  = sim + sim_scores[1:4]
    alm_indices = [i[0] for i in sim]
    # Return the top 10 most similar movies
    return  df_almacenes['AlmacenCodigo'].iloc[alm_indices]

In [33]:
#Almacenes que compro 
df_credito.loc[df_credito['PersonaCodigo'] == 644573, 'AlmacenCodigo'].values

array([13394, 16197, 1937, 40877], dtype=object)

In [34]:
result_coseno = listaAlmacenesSimilares_coseno(644573) 
print(result_coseno)

190    16197
197    13396
208    23701
43     13394
197    13396
208    23701
26      1946
73     22043
119     1938
69     24881
82     28755
97     43984
Name: AlmacenCodigo, dtype: object

### Similitud Coseno Mas variables para el almacen

#### Matriz de similitud entre almacenes

In [35]:
cosine_sim_variables = cosine_similarity(df_almacenes_stand_index)
#
indices_alm = pd.Series(df_almacenes_stand.index, index=df_almacenes_stand['AlmacenCodigo'])
indices_alm[:10]
indices_alm.shape

(1718,)

#### Funcion lista de almacenes similares usando coseno

In [36]:
def Almacenes_detalle_similares_coseno(cliente, cosine_sim_variables=cosine_sim_variables):
    list_alm = df_credito.loc[df_credito['PersonaCodigo'] == cliente, 'AlmacenCodigo'].values
    idx = [indices[alm] for alm in list_alm]
    sim = []
    for i in idx:
        sim_scores = list(enumerate(cosine_sim_variables[i]))
        sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
        sim_scores = [score for score in sim_scores if score[0] != i]
        sim  = sim + sim_scores[1:4]
    alm_indices = [i[0] for i in sim[:6]]
    # Return the top 10 most similar movies
    return  df_almacenes['AlmacenCodigo'].iloc[alm_indices].tolist()

In [37]:
cli_s = 644573
result_coseno_var = Almacenes_detalle_similares_coseno(644573) 
print(result_coseno_var)

[16197, 16199, 1867, 13394, 16199, 13396]

In [38]:
df_alm_reco_coseno_var = pd.DataFrame()
for index in result_coseno_var:
    df_alm_reco_coseno_var = pd.concat([df_alm_reco_coseno_var, df_almacen[df_almacen['AlmacenCodigo']==int(index)]])

df_alm_reco_coseno_var

    AlmacenCodigo Categoria     Ubicacion_Almacen   Canal
190         16197   Zapatos  Valle Del Cauca-Cali  Fisico
30          16199   Zapatos  Valle Del Cauca-Cali  Fisico
445          1867   Zapatos  Valle Del Cauca-Cali  Fisico
43          13394   Zapatos  Valle Del Cauca-Cali  Fisico
30          16199   Zapatos  Valle Del Cauca-Cali  Fisico
197         13396   Zapatos  Valle Del Cauca-Cali  Fisico

## Basado en Memoria

### Basado en memoria - Categoria Almacen

#### Construir Matriz Usuario-Item por categorias almacen

In [39]:
df_credito_categoria = pd.merge(df_credito,df_almacen)
df_credito_categoria = df_credito_categoria[['creditocodigo','AlmacenCodigo','PersonaCodigo','Categoria','Ubicacion_Almacen']]
df_credito_categoria.head()

  creditocodigo AlmacenCodigo PersonaCodigo Categoria     Ubicacion_Almacen
0      21593606         13394        644573   Zapatos  Valle Del Cauca-Cali
1      21606717         13394       2953950   Zapatos  Valle Del Cauca-Cali
2      21641629         13394       1634570   Zapatos  Valle Del Cauca-Cali
3      21642687         13394        819835   Zapatos  Valle Del Cauca-Cali
4      21643177         13394        741905   Zapatos  Valle Del Cauca-Cali

In [40]:
df_categoria_d = df_credito_categoria[['PersonaCodigo','Categoria']]
df_categoria_d = pd.get_dummies(df_categoria_d, columns=['Categoria'])
df_categoria_d.head()

,PersonaCodigo,Categoria_Accesorios,Categoria_Bebes,Categoria_Bolsos,Categoria_Bolsos y Vestuario,Categoria_Comidas y Bares,Categoria_Construccion,Categoria_Deportes,Categoria_Hogar,Categoria_Hogar y Tecnologia,Categoria_Movilidad,Categoria_Otro,Categoria_Salud y Belleza,Categoria_Servicios,Categoria_Tecnologia,Categoria_Vestuario,Categoria_Zapatos,Categoria_construccion
0,644573,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,2953950,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,1634570,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,819835,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,741905,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [41]:
df_persona_categoria_index = df_categoria_d.groupby('PersonaCodigo').agg('sum')
df_persona_categoria_index.head()

,Categoria_Accesorios,Categoria_Bebes,Categoria_Bolsos,Categoria_Bolsos y Vestuario,Categoria_Comidas y Bares,Categoria_Construccion,Categoria_Deportes,Categoria_Hogar,Categoria_Hogar y Tecnologia,Categoria_Movilidad,Categoria_Otro,Categoria_Salud y Belleza,Categoria_Servicios,Categoria_Tecnologia,Categoria_Vestuario,Categoria_Zapatos,Categoria_construccion
PersonaCodigo,,,,,,,,,,,,,,,,,
587,0,0,0,4,0,0,0,0,1,0,0,0,0,0,0,0,0
3384,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,5,0
7170,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
7860,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,2,0
12519,0,0,0,5,0,0,0,0,0,0,0,2,0,0,0,1,0

In [42]:
print('Numero de filas: ',df_persona_categoria_index.shape[0])
print('Numero de clientes: ',df_persona_categoria_index.index.nunique())

Numero de filas:  9878
Numero de clientes:  9878

#### Matriz de similitud con la correlación de Pearson

In [43]:
# Calcular la similitud entre los clientes usando la correlación de Pearson
similitud = np.corrcoef(df_persona_categoria_index)

In [44]:
df_persona_categoria = df_persona_categoria_index.reset_index()
df_persona_categoria.head()

,PersonaCodigo,Categoria_Accesorios,Categoria_Bebes,Categoria_Bolsos,Categoria_Bolsos y Vestuario,Categoria_Comidas y Bares,Categoria_Construccion,Categoria_Deportes,Categoria_Hogar,Categoria_Hogar y Tecnologia,Categoria_Movilidad,Categoria_Otro,Categoria_Salud y Belleza,Categoria_Servicios,Categoria_Tecnologia,Categoria_Vestuario,Categoria_Zapatos,Categoria_construccion
0,587,0,0,0,4,0,0,0,0,1,0,0,0,0,0,0,0,0
1,3384,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,5,0
2,7170,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,7860,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,2,0
4,12519,0,0,0,5,0,0,0,0,0,0,0,2,0,0,0,1,0

In [45]:
indices_persona = pd.Series(df_persona_categoria.index, index=df_persona_categoria['PersonaCodigo'])

In [46]:
# Crear el diccionario con el índice de la columna y su nombre
column_dict = {index: column for index, column in enumerate(df_persona_categoria.columns.str.replace('Categoria_', ''))}
print(column_dict)

{0: 'PersonaCodigo', 1: 'Accesorios', 2: 'Bebes', 3: 'Bolsos', 4: 'Bolsos y Vestuario', 5: 'Comidas y Bares', 6: 'Construccion', 7: 'Deportes', 8: 'Hogar', 9: 'Hogar y Tecnologia', 10: 'Movilidad', 11: 'Otro', 12: 'Salud y Belleza', 13: 'Servicios', 14: 'Tecnologia', 15: 'Vestuario', 16: 'Zapatos', 17: 'construccion'}

#### Algoritmo de recomendacion basado en memoria categoria

In [47]:
# Función para obtener las recomendaciones para un cliente dado
def obtener_recomendaciones(codPersona):
    cliente = indices_persona[codPersona]
    # Obtener las similitudes del cliente dado con todos los demás clientes
    similitudes_cliente = similitud[cliente]
    #Calcular el promedio ponderado de las compras de los clientes similares
    recomendaciones = np.dot(similitudes_cliente, df_persona_categoria) / np.sum(np.abs(similitudes_cliente))
    #Excluir las categorías en las que el cliente ya ha compra
    categ_compradas = df_persona_categoria.iloc[cliente].to_numpy().astype(bool)
    recomendaciones[categ_compradas] = 0
    #Ordenar las recomendaciones de mayor a menor
    indices_recomendaciones = np.argsort(recomendaciones)[::-1]
    sorted_categories = [column_dict[index] for index in indices_recomendaciones[0:2]] 
    
    #Ubicacion Cliente segun compras
    list_ub = df_credito_categoria.loc[df_credito_categoria['PersonaCodigo'] == codPersona, 'Ubicacion_Almacen'].unique()
    df_alm_recomendados = pd.DataFrame()
    for ub in list_ub:
        df_alm_cliente = df_almacen[df_almacen['Ubicacion_Almacen']==ub]
        for cat in sorted_categories:
            df_alm_recom = df_alm_cliente[df_alm_cliente['Categoria']==cat].head(2)[['AlmacenCodigo','Categoria','Ubicacion_Almacen']]
            df_alm_recomendados = pd.concat([df_alm_recomendados, df_alm_recom])

    return df_alm_recomendados

In [48]:
# Ejemplo de uso: obtener las recomendaciones para el cliente 
cli= 644573
print("Recomendaciones para el cliente:", obtener_recomendaciones(cli))
df_persona_categoria[df_persona_categoria['PersonaCodigo']==cli]

Recomendaciones para el cliente:      AlmacenCodigo  Categoria           Ubicacion_Almacen
0            21083  Vestuario        Valle Del Cauca-Cali
110          22511  Vestuario        Valle Del Cauca-Cali
124          20422      Hogar        Valle Del Cauca-Cali
1351         22361      Hogar        Valle Del Cauca-Cali
1063         18641  Vestuario  Valle Del Cauca-Roldanillo

,PersonaCodigo,Categoria_Accesorios,Categoria_Bebes,Categoria_Bolsos,Categoria_Bolsos y Vestuario,Categoria_Comidas y Bares,Categoria_Construccion,Categoria_Deportes,Categoria_Hogar,Categoria_Hogar y Tecnologia,Categoria_Movilidad,Categoria_Otro,Categoria_Salud y Belleza,Categoria_Servicios,Categoria_Tecnologia,Categoria_Vestuario,Categoria_Zapatos,Categoria_construccion
861,644573,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,2,0

In [49]:
df_almacen.head()

  AlmacenCodigo           Categoria             Ubicacion_Almacen   Canal
0         21083           Vestuario          Valle Del Cauca-Cali  Fisico
1         16357             Zapatos             Caqueta-Florencia  Fisico
2         24327           Vestuario            Antioquia-Sabaneta  Fisico
3         16346  Bolsos y Vestuario  Cauca-Santander De Quilichao  Fisico
4          1556             Zapatos            Antioquia-Medellin  Fisico

In [50]:
# Ejemplo de uso: obtener las recomendaciones para el cliente 
cli = 741905
print("Recomendaciones para el cliente:", obtener_recomendaciones(cli))
df_persona_categoria[df_persona_categoria['PersonaCodigo']==cli]

Recomendaciones para el cliente:     AlmacenCodigo           Categoria     Ubicacion_Almacen
0           21083           Vestuario  Valle Del Cauca-Cali
110         22511           Vestuario  Valle Del Cauca-Cali
23           1945  Bolsos y Vestuario  Valle Del Cauca-Cali
26           1946  Bolsos y Vestuario  Valle Del Cauca-Cali

,PersonaCodigo,Categoria_Accesorios,Categoria_Bebes,Categoria_Bolsos,Categoria_Bolsos y Vestuario,Categoria_Comidas y Bares,Categoria_Construccion,Categoria_Deportes,Categoria_Hogar,Categoria_Hogar y Tecnologia,Categoria_Movilidad,Categoria_Otro,Categoria_Salud y Belleza,Categoria_Servicios,Categoria_Tecnologia,Categoria_Vestuario,Categoria_Zapatos,Categoria_construccion
1057,741905,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0

### Basado en memoria - Almacen

#### Construir Matriz Usuario-Item por almacen

In [51]:
df_credito_d = df_credito[['PersonaCodigo','AlmacenCodigo']]
df_credito_d = pd.get_dummies(df_credito_d, columns=['AlmacenCodigo'])
df_persona_almacen_index = df_credito_d.groupby('PersonaCodigo').agg('sum')
df_persona_almacen_index.head()

/var/folders/vn/gyqsnwt95575hv9b5y4_sg8c0000gn/T/ipykernel_610/35309178.py:2: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  df_credito_d = pd.get_dummies(df_credito_d, columns=['AlmacenCodigo'])

,AlmacenCodigo_10,AlmacenCodigo_17,AlmacenCodigo_35,AlmacenCodigo_194,AlmacenCodigo_303,AlmacenCodigo_318,AlmacenCodigo_319,AlmacenCodigo_322,AlmacenCodigo_323,AlmacenCodigo_331,...,AlmacenCodigo_44121,AlmacenCodigo_44138,AlmacenCodigo_44142,AlmacenCodigo_44158,AlmacenCodigo_44173,AlmacenCodigo_44482,AlmacenCodigo_44620,AlmacenCodigo_44717,AlmacenCodigo_44777,AlmacenCodigo_45159
PersonaCodigo,,,,,,,,,,,,,,,,,,,,,
587,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3384,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7170,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7860,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12519,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### Matriz de similitud con la correlación de Pearson Almacen

In [52]:
# Calcular la similitud entre los clientes usando la correlación de Pearson
similitud_almacen = np.corrcoef(df_persona_almacen_index)

In [53]:
df_persona_almacen = df_persona_almacen_index.reset_index()
df_persona_almacen.head()

,PersonaCodigo,AlmacenCodigo_10,AlmacenCodigo_17,AlmacenCodigo_35,AlmacenCodigo_194,AlmacenCodigo_303,AlmacenCodigo_318,AlmacenCodigo_319,AlmacenCodigo_322,AlmacenCodigo_323,...,AlmacenCodigo_44121,AlmacenCodigo_44138,AlmacenCodigo_44142,AlmacenCodigo_44158,AlmacenCodigo_44173,AlmacenCodigo_44482,AlmacenCodigo_44620,AlmacenCodigo_44717,AlmacenCodigo_44777,AlmacenCodigo_45159
0,587,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3384,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,7170,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,7860,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,12519,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
indices_persona_alm = pd.Series(df_persona_almacen.index, index=df_persona_almacen['PersonaCodigo'])

In [55]:
column_dict_alm = {index: column for index, column in enumerate(df_persona_almacen.columns.str.replace('AlmacenCodigo_', ''))}
print(column_dict_alm)

{0: 'PersonaCodigo', 1: '10', 2: '17', 3: '35', 4: '194', 5: '303', 6: '318', 7: '319', 8: '322', 9: '323', 10: '331', 11: '332', 12: '333', 13: '334', 14: '335', 15: '469', 16: '484', 17: '623', 18: '656', 19: '660', 20: '753', 21: '769', 22: '882', 23: '883', 24: '884', 25: '888', 26: '889', 27: '890', 28: '891', 29: '892', 30: '893', 31: '894', 32: '896', 33: '910', 34: '911', 35: '916', 36: '927', 37: '978', 38: '979', 39: '1008', 40: '1090', 41: '1280', 42: '1284', 43: '1285', 44: '1324', 45: '1326', 46: '1424', 47: '1433', 48: '1438', 49: '1445', 50: '1450', 51: '1458', 52: '1459', 53: '1460', 54: '1461', 55: '1463', 56: '1464', 57: '1465', 58: '1466', 59: '1467', 60: '1469', 61: '1470', 62: '1479', 63: '1480', 64: '1488', 65: '1528', 66: '1535', 67: '1537', 68: '1538', 69: '1539', 70: '1540', 71: '1541', 72: '1542', 73: '1544', 74: '1545', 75: '1548', 76: '1549', 77: '1552', 78: '1555', 79: '1556', 80: '1563', 81: '1574', 82: '1575', 83: '1595', 84: '1597', 85: '1598', 86: '1599', 87: '1600', 88: '1612', 89: '1613', 90: '1659', 91: '1707', 92: '1708', 93: '1716', 94: '1718', 95: '1719', 96: '1720', 97: '1737', 98: '1771', 99: '1800', 100: '1804', 101: '1832', 102: '1833', 103: '1844', 104: '1867', 105: '1890', 106: '1906', 107: '1908', 108: '1936', 109: '1937', 110: '1938', 111: '1942', 112: '1943', 113: '1944', 114: '1945', 115: '1946', 116: '1947', 117: '1948', 118: '1950', 119: '1953', 120: '1954', 121: '1957', 122: '1975', 123: '2029', 124: '2100', 125: '2101', 126: '2102', 127: '2106', 128: '2135', 129: '2138', 130: '2150', 131: '2215', 132: '2216', 133: '2217', 134: '2218', 135: '2219', 136: '2221', 137: '2239', 138: '2240', 139: '2241', 140: '2243', 141: '2251', 142: '2252', 143: '2253', 144: '2254', 145: '2255', 146: '2256', 147: '2257', 148: '2260', 149: '2261', 150: '2262', 151: '2267', 152: '2268', 153: '2270', 154: '2315', 155: '2320', 156: '2321', 157: '2345', 158: '2348', 159: '2349', 160: '2351', 161: '2369', 162: '2382', 163: '2413', 164: '2443', 165: '2444', 166: '2446', 167: '2448', 168: '2456', 169: '2457', 170: '2458', 171: '2460', 172: '2463', 173: '2478', 174: '2487', 175: '2488', 176: '2505', 177: '2509', 178: '2510', 179: '2511', 180: '2513', 181: '2514', 182: '2516', 183: '2521', 184: '2524', 185: '2531', 186: '2532', 187: '2538', 188: '2553', 189: '2554', 190: '2570', 191: '2572', 192: '2573', 193: '2574', 194: '2586', 195: '2592', 196: '2654', 197: '12790', 198: '12821', 199: '12835', 200: '12839', 201: '12841', 202: '12887', 203: '12913', 204: '12944', 205: '12994', 206: '13119', 207: '13170', 208: '13212', 209: '13241', 210: '13258', 211: '13267', 212: '13268', 213: '13269', 214: '13270', 215: '13272', 216: '13273', 217: '13274', 218: '13355', 219: '13356', 220: '13358', 221: '13359', 222: '13362', 223: '13364', 224: '13365', 225: '13367', 226: '13368', 227: '13369', 228: '13370', 229: '13371', 230: '13372', 231: '13373', 232: '13374', 233: '13375', 234: '13376', 235: '13377', 236: '13378', 237: '13379', 238: '13380', 239: '13381', 240: '13382', 241: '13386', 242: '13387', 243: '13388', 244: '13389', 245: '13390', 246: '13394', 247: '13396', 248: '13398', 249: '13418', 250: '13453', 251: '13455', 252: '13456', 253: '13457', 254: '13459', 255: '13460', 256: '13461', 257: '13462', 258: '13463', 259: '13465', 260: '13466', 261: '13467', 262: '13469', 263: '13470', 264: '13471', 265: '13472', 266: '13498', 267: '13499', 268: '13500', 269: '13515', 270: '13516', 271: '13557', 272: '13579', 273: '13585', 274: '13611', 275: '13613', 276: '13614', 277: '13617', 278: '13618', 279: '13620', 280: '13637', 281: '13648', 282: '13650', 283: '13654', 284: '13656', 285: '13657', 286: '13659', 287: '13660', 288: '13661', 289: '13667', 290: '13668', 291: '13673', 292: '13676', 293: '13678', 294: '13689', 295: '13721', 296: '13738', 297: '13739', 298: '13741', 299: '13742', 300: '13743', 301: '13744', 302: '13748', 303: '13770', 304: '13777', 305: '13778', 306: '13786', 307: '13838', 308: '13839', 309: '13847', 310: '13908', 311: '13914', 312: '13926', 313: '13931', 314: '13962', 315: '13967', 316: '14029', 317: '14030', 318: '14036', 319: '14038', 320: '14040', 321: '14041', 322: '14042', 323: '14043', 324: '14044', 325: '14045', 326: '14047', 327: '14052', 328: '14053', 329: '14083', 330: '14110', 331: '14111', 332: '14135', 333: '14138', 334: '14148', 335: '14260', 336: '14279', 337: '14281', 338: '14293', 339: '14313', 340: '14314', 341: '14315', 342: '14316', 343: '14328', 344: '14335', 345: '14336', 346: '14337', 347: '14340', 348: '14342', 349: '14343', 350: '14356', 351: '14357', 352: '14358', 353: '14359', 354: '14360', 355: '14370', 356: '14373', 357: '14378', 358: '14383', 359: '14385', 360: '14395', 361: '14401', 362: '14410', 363: '14413', 364: '14424', 365: '14439', 366: '14460', 367: '14477', 368: '14478', 369: '14481', 370: '14482', 371: '14483', 372: '14485', 373: '14486', 374: '14487', 375: '14489', 376: '14490', 377: '14491', 378: '14499', 379: '14500', 380: '14502', 381: '14516', 382: '14519', 383: '14533', 384: '14534', 385: '14535', 386: '14537', 387: '14538', 388: '14541', 389: '14542', 390: '14543', 391: '14544', 392: '14546', 393: '14547', 394: '14548', 395: '14600', 396: '14606', 397: '14607', 398: '14608', 399: '14610', 400: '14614', 401: '14619', 402: '14620', 403: '14621', 404: '14622', 405: '14631', 406: '14634', 407: '14635', 408: '14636', 409: '14637', 410: '14639', 411: '14641', 412: '14642', 413: '14643', 414: '14644', 415: '14652', 416: '14659', 417: '14688', 418: '14694', 419: '14695', 420: '14711', 421: '14737', 422: '14745', 423: '14752', 424: '14753', 425: '14908', 426: '14918', 427: '14930', 428: '14934', 429: '14937', 430: '14938', 431: '14941', 432: '14950', 433: '14956', 434: '14975', 435: '14980', 436: '14985', 437: '14987', 438: '14988', 439: '14990', 440: '14993', 441: '14995', 442: '14996', 443: '14998', 444: '14999', 445: '15002', 446: '15003', 447: '15004', 448: '15031', 449: '15069', 450: '15070', 451: '15124', 452: '15125', 453: '15126', 454: '15127', 455: '15128', 456: '15131', 457: '15172', 458: '15173', 459: '15174', 460: '15176', 461: '15203', 462: '15208', 463: '15280', 464: '15307', 465: '15332', 466: '15335', 467: '15336', 468: '15337', 469: '15338', 470: '15358', 471: '15364', 472: '15376', 473: '15383', 474: '15388', 475: '15392', 476: '15394', 477: '15397', 478: '15419', 479: '15433', 480: '15481', 481: '15492', 482: '15495', 483: '15520', 484: '15523', 485: '15524', 486: '15525', 487: '15526', 488: '15573', 489: '15576', 490: '15583', 491: '15603', 492: '15606', 493: '15629', 494: '15633', 495: '15704', 496: '15706', 497: '15710', 498: '15711', 499: '15713', 500: '15714', 501: '15717', 502: '15718', 503: '15720', 504: '15721', 505: '15724', 506: '15726', 507: '15727', 508: '15729', 509: '15738', 510: '15759', 511: '15826', 512: '15831', 513: '15832', 514: '15843', 515: '15896', 516: '15944', 517: '15946', 518: '15954', 519: '15956', 520: '15984', 521: '15993', 522: '16069', 523: '16096', 524: '16106', 525: '16112', 526: '16140', 527: '16172', 528: '16191', 529: '16193', 530: '16197', 531: '16198', 532: '16199', 533: '16209', 534: '16210', 535: '16211', 536: '16212', 537: '16213', 538: '16215', 539: '16216', 540: '16217', 541: '16218', 542: '16221', 543: '16222', 544: '16224', 545: '16225', 546: '16226', 547: '16227', 548: '16228', 549: '16230', 550: '16231', 551: '16232', 552: '16233', 553: '16234', 554: '16235', 555: '16236', 556: '16238', 557: '16239', 558: '16240', 559: '16241', 560: '16243', 561: '16244', 562: '16245', 563: '16246', 564: '16247', 565: '16248', 566: '16249', 567: '16251', 568: '16252', 569: '16253', 570: '16254', 571: '16256', 572: '16291', 573: '16297', 574: '16298', 575: '16299', 576: '16300', 577: '16301', 578: '16304', 579: '16305', 580: '16329', 581: '16344', 582: '16345', 583: '16346', 584: '16356', 585: '16357', 586: '16358', 587: '16359', 588: '16384', 589: '16386', 590: '16427', 591: '16428', 592: '16455', 593: '16484', 594: '16486', 595: '16487', 596: '16489', 597: '16493', 598: '16494', 599: '16495', 600: '16577', 601: '16595', 602: '16612', 603: '16614', 604: '16618', 605: '16620', 606: '16656', 607: '16753', 608: '16754', 609: '16762', 610: '16851', 611: '16870', 612: '16875', 613: '16979', 614: '16992', 615: '17058', 616: '17062', 617: '17063', 618: '17069', 619: '17070', 620: '17122', 621: '17149', 622: '17151', 623: '17179', 624: '17185', 625: '17200', 626: '17218', 627: '17227', 628: '17279', 629: '17287', 630: '17288', 631: '17300', 632: '17346', 633: '17348', 634: '17351', 635: '17367', 636: '17409', 637: '17428', 638: '17460', 639: '17462', 640: '17467', 641: '17468', 642: '17469', 643: '17470', 644: '17472', 645: '17479', 646: '17493', 647: '17494', 648: '17531', 649: '17611', 650: '17616', 651: '17620', 652: '17637', 653: '17642', 654: '17643', 655: '17682', 656: '17698', 657: '17709', 658: '17743', 659: '17754', 660: '17764', 661: '17796', 662: '17799', 663: '17813', 664: '17830', 665: '17831', 666: '17906', 667: '17908', 668: '17911', 669: '17913', 670: '17914', 671: '17915', 672: '17924', 673: '17941', 674: '17942', 675: '18080', 676: '18181', 677: '18243', 678: '18245', 679: '18253', 680: '18278', 681: '18290', 682: '18302', 683: '18322', 684: '18327', 685: '18328', 686: '18349', 687: '18425', 688: '18479', 689: '18517', 690: '18533', 691: '18536', 692: '18566', 693: '18574', 694: '18577', 695: '18596', 696: '18615', 697: '18621', 698: '18627', 699: '18641', 700: '18719', 701: '18726', 702: '18748', 703: '18812', 704: '18834', 705: '18876', 706: '18877', 707: '18878', 708: '18920', 709: '18952', 710: '18993', 711: '18998', 712: '19005', 713: '19007', 714: '19081', 715: '19082', 716: '19083', 717: '19102', 718: '19125', 719: '19126', 720: '19152', 721: '19167', 722: '19182', 723: '19186', 724: '19189', 725: '19205', 726: '19234', 727: '19263', 728: '19277', 729: '19292', 730: '19338', 731: '19339', 732: '19381', 733: '19425', 734: '19427', 735: '19438', 736: '19469', 737: '19472', 738: '19551', 739: '19552', 740: '19559', 741: '19644', 742: '19663', 743: '19672', 744: '19679', 745: '19680', 746: '19683', 747: '19687', 748: '19743', 749: '19755', 750: '19756', 751: '19757', 752: '19759', 753: '19764', 754: '19765', 755: '19767', 756: '19775', 757: '19826', 758: '19872', 759: '19880', 760: '19932', 761: '19964', 762: '19965', 763: '19970', 764: '19983', 765: '20010', 766: '20099', 767: '20119', 768: '20228', 769: '20229', 770: '20261', 771: '20295', 772: '20299', 773: '20300', 774: '20331', 775: '20337', 776: '20339', 777: '20340', 778: '20348', 779: '20350', 780: '20355', 781: '20357', 782: '20361', 783: '20384', 784: '20400', 785: '20406', 786: '20422', 787: '20482', 788: '20509', 789: '20510', 790: '20595', 791: '20596', 792: '20613', 793: '20685', 794: '20705', 795: '20734', 796: '20756', 797: '20777', 798: '20787', 799: '20841', 800: '20857', 801: '20864', 802: '20867', 803: '20960', 804: '21018', 805: '21053', 806: '21055', 807: '21064', 808: '21065', 809: '21067', 810: '21068', 811: '21069', 812: '21070', 813: '21072', 814: '21073', 815: '21074', 816: '21082', 817: '21083', 818: '21085', 819: '21087', 820: '21089', 821: '21090', 822: '21091', 823: '21092', 824: '21093', 825: '21094', 826: '21096', 827: '21097', 828: '21098', 829: '21099', 830: '21101', 831: '21104', 832: '21105', 833: '21106', 834: '21107', 835: '21136', 836: '21148', 837: '21174', 838: '21189', 839: '21190', 840: '21232', 841: '21240', 842: '21248', 843: '21251', 844: '21252', 845: '21341', 846: '21342', 847: '21368', 848: '21370', 849: '21392', 850: '21398', 851: '21412', 852: '21419', 853: '21430', 854: '21434', 855: '21456', 856: '21462', 857: '21468', 858: '21518', 859: '21528', 860: '21535', 861: '21547', 862: '21548', 863: '21550', 864: '21647', 865: '21648', 866: '21650', 867: '21652', 868: '21653', 869: '21654', 870: '21657', 871: '21665', 872: '21741', 873: '21754', 874: '21778', 875: '21780', 876: '21831', 877: '21842', 878: '21852', 879: '21861', 880: '21884', 881: '21902', 882: '21909', 883: '21911', 884: '21912', 885: '21913', 886: '21919', 887: '21927', 888: '21928', 889: '21950', 890: '21953', 891: '21958', 892: '21960', 893: '21961', 894: '21963', 895: '21964', 896: '21983', 897: '21990', 898: '21994', 899: '22016', 900: '22023', 901: '22024', 902: '22039', 903: '22043', 904: '22088', 905: '22089', 906: '22288', 907: '22361', 908: '22400', 909: '22421', 910: '22458', 911: '22472', 912: '22473', 913: '22508', 914: '22509', 915: '22510', 916: '22511', 917: '22520', 918: '22827', 919: '22835', 920: '22836', 921: '22853', 922: '22854', 923: '22860', 924: '22863', 925: '22864', 926: '22908', 927: '22910', 928: '22949', 929: '22950', 930: '22958', 931: '22960', 932: '22967', 933: '22973', 934: '22987', 935: '22989', 936: '22999', 937: '23000', 938: '23001', 939: '23002', 940: '23003', 941: '23005', 942: '23006', 943: '23007', 944: '23010', 945: '23012', 946: '23014', 947: '23042', 948: '23053', 949: '23092', 950: '23094', 951: '23095', 952: '23110', 953: '23131', 954: '23142', 955: '23193', 956: '23219', 957: '23226', 958: '23238', 959: '23239', 960: '23244', 961: '23409', 962: '23437', 963: '23452', 964: '23453', 965: '23460', 966: '23566', 967: '23573', 968: '23575', 969: '23622', 970: '23650', 971: '23682', 972: '23694', 973: '23701', 974: '23704', 975: '23705', 976: '23765', 977: '23766', 978: '23792', 979: '23828', 980: '23832', 981: '23853', 982: '23865', 983: '23888', 984: '23889', 985: '23895', 986: '23896', 987: '23904', 988: '23953', 989: '23964', 990: '23998', 991: '23999', 992: '24088', 993: '24160', 994: '24161', 995: '24162', 996: '24216', 997: '24268', 998: '24275', 999: '24281', 1000: '24284', 1001: '24292', 1002: '24294', 1003: '24296', 1004: '24303', 1005: '24306', 1006: '24311', 1007: '24312', 1008: '24313', 1009: '24318', 1010: '24319', 1011: '24320', 1012: '24321', 1013: '24322', 1014: '24323', 1015: '24324', 1016: '24325', 1017: '24326', 1018: '24327', 1019: '24328', 1020: '24329', 1021: '24330', 1022: '24334', 1023: '24394', 1024: '24469', 1025: '24480', 1026: '24488', 1027: '24499', 1028: '24542', 1029: '24549', 1030: '24561', 1031: '24562', 1032: '24563', 1033: '24571', 1034: '24575', 1035: '24576', 1036: '24584', 1037: '24585', 1038: '24589', 1039: '24592', 1040: '24605', 1041: '24629', 1042: '24632', 1043: '24643', 1044: '24644', 1045: '24645', 1046: '24656', 1047: '24659', 1048: '24660', 1049: '24661', 1050: '24681', 1051: '24699', 1052: '24705', 1053: '24721', 1054: '24807', 1055: '24818', 1056: '24839', 1057: '24840', 1058: '24841', 1059: '24881', 1060: '24945', 1061: '24964', 1062: '24981', 1063: '24993', 1064: '25000', 1065: '25016', 1066: '25025', 1067: '25034', 1068: '25039', 1069: '25052', 1070: '25132', 1071: '25153', 1072: '25158', 1073: '25180', 1074: '25182', 1075: '25196', 1076: '25232', 1077: '25251', 1078: '25258', 1079: '25322', 1080: '25362', 1081: '25375', 1082: '25383', 1083: '25391', 1084: '25392', 1085: '25448', 1086: '25459', 1087: '25520', 1088: '25561', 1089: '25563', 1090: '25586', 1091: '25587', 1092: '25640', 1093: '25657', 1094: '25673', 1095: '25674', 1096: '25732', 1097: '25735', 1098: '25807', 1099: '25810', 1100: '25881', 1101: '25905', 1102: '25915', 1103: '25927', 1104: '25942', 1105: '25950', 1106: '25951', 1107: '25964', 1108: '25981', 1109: '25993', 1110: '26128', 1111: '26129', 1112: '26130', 1113: '26131', 1114: '26133', 1115: '26136', 1116: '26137', 1117: '26196', 1118: '26241', 1119: '26332', 1120: '26378', 1121: '26396', 1122: '26484', 1123: '26545', 1124: '26643', 1125: '26747', 1126: '26748', 1127: '26766', 1128: '26774', 1129: '26777', 1130: '26797', 1131: '26862', 1132: '26903', 1133: '26905', 1134: '26910', 1135: '26916', 1136: '26924', 1137: '26955', 1138: '27154', 1139: '27218', 1140: '27244', 1141: '27253', 1142: '27313', 1143: '27332', 1144: '27423', 1145: '27445', 1146: '27571', 1147: '27583', 1148: '27611', 1149: '27623', 1150: '27632', 1151: '27633', 1152: '27717', 1153: '27724', 1154: '27774', 1155: '27779', 1156: '27780', 1157: '27837', 1158: '27839', 1159: '27841', 1160: '27864', 1161: '27866', 1162: '27890', 1163: '27891', 1164: '27907', 1165: '27965', 1166: '27969', 1167: '27973', 1168: '27994', 1169: '27998', 1170: '28000', 1171: '28044', 1172: '28057', 1173: '28058', 1174: '28059', 1175: '28068', 1176: '28141', 1177: '28150', 1178: '28153', 1179: '28190', 1180: '28191', 1181: '28201', 1182: '28222', 1183: '28261', 1184: '28296', 1185: '28300', 1186: '28301', 1187: '28321', 1188: '28414', 1189: '28439', 1190: '28472', 1191: '28512', 1192: '28516', 1193: '28518', 1194: '28557', 1195: '28641', 1196: '28649', 1197: '28679', 1198: '28683', 1199: '28719', 1200: '28744', 1201: '28755', 1202: '28763', 1203: '28857', 1204: '28981', 1205: '29016', 1206: '29018', 1207: '29019', 1208: '29041', 1209: '29079', 1210: '29127', 1211: '29135', 1212: '29141', 1213: '29225', 1214: '29237', 1215: '29348', 1216: '29382', 1217: '29445', 1218: '29450', 1219: '29468', 1220: '29474', 1221: '29478', 1222: '29481', 1223: '29498', 1224: '29502', 1225: '29533', 1226: '29540', 1227: '29555', 1228: '29665', 1229: '29712', 1230: '29763', 1231: '29775', 1232: '29795', 1233: '29816', 1234: '29835', 1235: '29887', 1236: '29906', 1237: '29947', 1238: '29954', 1239: '29961', 1240: '29964', 1241: '30000', 1242: '30016', 1243: '30021', 1244: '30115', 1245: '30124', 1246: '30126', 1247: '30128', 1248: '30129', 1249: '30159', 1250: '30185', 1251: '30188', 1252: '30208', 1253: '30265', 1254: '30362', 1255: '30367', 1256: '30368', 1257: '30371', 1258: '30372', 1259: '30450', 1260: '30497', 1261: '30523', 1262: '30577', 1263: '30632', 1264: '30824', 1265: '30862', 1266: '30896', 1267: '30918', 1268: '30935', 1269: '30983', 1270: '30989', 1271: '30990', 1272: '30992', 1273: '30996', 1274: '31026', 1275: '31105', 1276: '31169', 1277: '31240', 1278: '31513', 1279: '31514', 1280: '31516', 1281: '31518', 1282: '31546', 1283: '31597', 1284: '31715', 1285: '31737', 1286: '31738', 1287: '31739', 1288: '31803', 1289: '31824', 1290: '31825', 1291: '31826', 1292: '31827', 1293: '31828', 1294: '31829', 1295: '31830', 1296: '31831', 1297: '31857', 1298: '31917', 1299: '31918', 1300: '31939', 1301: '31946', 1302: '31949', 1303: '31951', 1304: '31969', 1305: '32020', 1306: '32022', 1307: '32026', 1308: '32027', 1309: '32056', 1310: '32064', 1311: '32069', 1312: '32121', 1313: '32134', 1314: '32141', 1315: '32152', 1316: '32170', 1317: '32191', 1318: '32224', 1319: '32263', 1320: '32264', 1321: '32276', 1322: '32292', 1323: '32299', 1324: '32321', 1325: '32424', 1326: '32441', 1327: '32517', 1328: '32568', 1329: '32573', 1330: '32575', 1331: '32585', 1332: '32614', 1333: '32648', 1334: '32733', 1335: '32917', 1336: '32918', 1337: '32919', 1338: '32936', 1339: '33022', 1340: '33069', 1341: '33070', 1342: '33126', 1343: '33128', 1344: '33131', 1345: '33197', 1346: '33259', 1347: '33265', 1348: '33328', 1349: '33334', 1350: '33384', 1351: '33389', 1352: '33431', 1353: '33505', 1354: '33521', 1355: '33600', 1356: '33620', 1357: '33633', 1358: '33635', 1359: '33639', 1360: '33645', 1361: '33675', 1362: '33685', 1363: '33746', 1364: '33751', 1365: '33752', 1366: '33753', 1367: '33754', 1368: '33756', 1369: '33757', 1370: '33758', 1371: '33759', 1372: '33760', 1373: '33761', 1374: '33784', 1375: '33887', 1376: '33933', 1377: '33938', 1378: '34017', 1379: '34057', 1380: '34288', 1381: '34371', 1382: '34380', 1383: '34441', 1384: '34480', 1385: '34489', 1386: '34492', 1387: '34607', 1388: '34616', 1389: '34625', 1390: '34673', 1391: '34675', 1392: '34768', 1393: '34769', 1394: '34774', 1395: '34807', 1396: '34823', 1397: '34946', 1398: '35100', 1399: '35126', 1400: '35128', 1401: '35130', 1402: '35228', 1403: '35238', 1404: '35239', 1405: '35240', 1406: '35241', 1407: '35242', 1408: '35245', 1409: '35246', 1410: '35248', 1411: '35250', 1412: '35253', 1413: '35307', 1414: '35400', 1415: '35422', 1416: '35424', 1417: '35445', 1418: '35612', 1419: '35616', 1420: '35632', 1421: '35658', 1422: '3

#### Algoritmo de recomendacion basado en memoria almacen

In [56]:
# Función para obtener las recomendaciones para un cliente dado
def obtener_recomendaciones_almacenes(codPersona):
    cliente = indices_persona_alm[codPersona]
    # Obtener las similitudes del cliente dado con todos los demás clientes
    similitudes_cliente = similitud_almacen[cliente]
    #Calcular el promedio ponderado de las compras de los clientes similares
    recomendaciones = np.dot(similitudes_cliente, df_persona_almacen) / np.sum(np.abs(similitudes_cliente))
    #Excluir las categorías en las que el cliente ya ha compra
    #recomendaciones[cliente] = 0
    alm_compradas = df_persona_almacen.iloc[cliente].to_numpy().astype(bool)
    recomendaciones[np.where(alm_compradas)] = 0
    #Ordenar las recomendaciones de mayor a menor
    indices_recomendaciones = np.argsort(recomendaciones)[::-1]
    sorted_alm = [column_dict_alm[index] for index in indices_recomendaciones[0:5]] 
    #sorted_alm = [index for index in indices_recomendaciones[0:5]]
    df_alm_reco = pd.DataFrame()
    for index in sorted_alm:
        df_alm_reco = pd.concat([df_alm_reco, df_almacen[df_almacen['AlmacenCodigo']==int(index)]])


    

    return df_alm_reco

In [57]:
cli= 644573
df_credito_categoria[df_credito_categoria['PersonaCodigo']==cli]

,creditocodigo,AlmacenCodigo,PersonaCodigo,Categoria,Ubicacion_Almacen
0,21593606,13394,644573,Zapatos,Valle Del Cauca-Cali
1571,21593103,16197,644573,Zapatos,Valle Del Cauca-Cali
9505,21592240,1937,644573,Bolsos y Vestuario,Valle Del Cauca-Cali
52446,21815693,40877,644573,Movilidad,Valle Del Cauca-Roldanillo

In [58]:
# Ejemplo de uso: obtener las recomendaciones para el cliente 
print("Recomendaciones para el cliente:")
obtener_recomendaciones_almacenes(cli)

Recomendaciones para el cliente:

     AlmacenCodigo           Categoria     Ubicacion_Almacen   Canal
110          22511           Vestuario  Valle Del Cauca-Cali  Fisico
672          17911           Vestuario  Valle Del Cauca-Cali  Fisico
1155         15726           Vestuario  Valle Del Cauca-Cali  Fisico
310           1942  Bolsos y Vestuario  Valle Del Cauca-Cali  Fisico
841           2538           Vestuario  Valle Del Cauca-Cali  Fisico

## Modelado con libreria Suprise

In [59]:
# Import surprise modules
from surprise import Dataset
from surprise import Reader
from surprise import Dataset
from surprise import accuracy
from surprise.model_selection import cross_validate
from surprise.model_selection import train_test_split
from surprise.model_selection import GridSearchCV
from surprise import SVD, SVDpp, NMF, SlopeOne, CoClustering,KNNBasic, KNNBaseline, KNNWithZScore, KNNWithMeans,BaselineOnly, NormalPredictor
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity

In [60]:
df_persona_almacen_bin = df_persona_almacen_index.clip(upper=1)

In [61]:
df_persona_almacen_bin.head()

,AlmacenCodigo_10,AlmacenCodigo_17,AlmacenCodigo_35,AlmacenCodigo_194,AlmacenCodigo_303,AlmacenCodigo_318,AlmacenCodigo_319,AlmacenCodigo_322,AlmacenCodigo_323,AlmacenCodigo_331,...,AlmacenCodigo_44121,AlmacenCodigo_44138,AlmacenCodigo_44142,AlmacenCodigo_44158,AlmacenCodigo_44173,AlmacenCodigo_44482,AlmacenCodigo_44620,AlmacenCodigo_44717,AlmacenCodigo_44777,AlmacenCodigo_45159
PersonaCodigo,,,,,,,,,,,,,,,,,,,,,
587,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3384,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7170,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7860,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12519,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [62]:
df_mui = df_persona_almacen_bin.reset_index().melt(id_vars=['PersonaCodigo'], var_name='Almacen', value_name='Compro')

In [63]:
df_mui['Almacen'] =df_mui['Almacen'].replace('AlmacenCodigo_', '', regex=True)

In [84]:
df_mui.head()

   PersonaCodigo Almacen  Compro
0            587      10       0
1           3384      10       0
2           7170      10       0
3           7860      10       0
4          12519      10       0

In [56]:
cliente_id = 644573

#### Reader, data, trainset y testset

In [65]:
# Crear el lector
reader = Reader(rating_scale=(0, 1))
data = Dataset.load_from_df(df_mui, reader)

In [58]:
trainset, testset = train_test_split(data, test_size=0.2)

In [244]:
#elementos = data.build_full_trainset().all_items()

In [246]:
# Crear el conjunto de prueba para el cliente dado
#testset_cliente = [(cliente_id, elemento, 0) for elemento in elementos]

#### Modelo KNNBasic

In [232]:
model_knn = KNNBasic()

In [234]:
model_knn.fit(trainset)

Computing the msd similarity matrix...
Done computing similarity matrix.

In [247]:
prediccion_knn = model_knn.test(testset_cliente)

In [ ]:


predicciones_cliente_knn = [pred for pred in prediccion_knn if pred[0] == cliente_id ]

predicciones_cliente_knn.sort(key=lambda x: x.est, reverse=True)
almacenes_recomendados_knn = [pred[1] for pred in predicciones_cliente_knn]
print("Almacenes recomendados para el cliente:", almacenes_recomendados_knn)

In [ ]:
df_recommended_stores_knn = pd.DataFrame()
for index in almacenes_recomendados_knn:
    df_recommended_stores_knn = pd.concat([df_recommended_stores_knn, df_almacen[df_almacen['AlmacenCodigo']==index]])

#### Modelo SVD

In [59]:
# Entrenar el modelo SVD
model_svd = SVD()
model_svd.fit(trainset)

In [60]:
# Obtener las predicciones para el conjunto de prueba
predictions_svd = model_svd.test(testset)

In [82]:
rmse = accuracy.rmse(predictions_svd)

print("RMSE: ", rmse)

RMSE: 0.0457
RMSE:  0.0457315894404434

In [76]:
# Función para obtener las recomendaciones para un cliente dado
def obtener_recomendaciones_almacenes_svd(codPersona):
    almacenes_no_comprados = df_mui[(df_mui['PersonaCodigo'] != codPersona) & (df_mui['Compro'] != 1)]['Almacen'].unique()
    almacenes_comprados = df_mui[(df_mui['PersonaCodigo'] == codPersona) & (df_mui['Compro'] == 1)]['Almacen'].unique()
    almacenes_no_comprados = np.setdiff1d(almacenes_no_comprados, almacenes_comprados)

    # Obtener las predicciones para los almacenes no comprados por el cliente
    predicciones = [model_svd.predict(codPersona, almacen) for almacen in almacenes_no_comprados]

    # Ordenar las predicciones de mayor a menor
    predicciones.sort(key=lambda x: x.est, reverse=True)

    # Obtener los nombres de los almacenes recomendados para el cliente
    almacenes_recomendados = [prediccion.iid for prediccion in predicciones]

    return almacenes_recomendados[:5]

In [78]:

# Obtener las recomendaciones para el cliente dado
top_recommendations_svd = obtener_recomendaciones_almacenes_svd(cliente_id)

# Imprimir las recomendaciones
print("Almacenes recomendados para el cliente", cliente_id, ":")
print(top_recommendations_svd)

Almacenes recomendados para el cliente 644573 :
['31715', '37495', '41128', '14138', '20787']

In [80]:
df_recommended_stores_svd = pd.DataFrame()
for index in top_recommendations_svd:
    df_recommended_stores_svd = pd.concat([df_recommended_stores_svd, df_almacen[df_almacen['AlmacenCodigo']==int(index)]])

df_recommended_stores_svd

    AlmacenCodigo           Categoria      Ubicacion_Almacen      Canal
16          31715  Hogar y Tecnologia     Antioquia-Envigado     Fisico
353         37495  Bolsos y Vestuario     Bogotá D.c.-Bogotá  Ecommerce
717         41128           Servicios     Antioquia-Envigado     Fisico
67          14138           Vestuario            Huila-Neiva     Fisico
718         20787           Vestuario  Valle Del Cauca-Tulua     Fisico

##### Hiperparametros SVD

In [66]:
from surprise.model_selection import GridSearchCV

# Definir los parámetros a probar
param_grid = {'n_factors': [50, 100, 200],
              'learning_rate': [0.001, 0.005, 0.01]}

# Crear el objeto GridSearchCV
grid_search = GridSearchCV(SVD, param_grid, measures=['rmse'], cv=3)

# Entrenar el modelo con diferentes combinaciones de hiperparámetros
grid_search.fit(data)

# Obtener los mejores parámetros y el mejor resultado
best_params = grid_search.best_params['rmse']
best_score = grid_search.best_score['rmse']

print("Mejores parámetros: ", best_params)
print("Mejor puntuación: ", best_score)

TypeError: __init__() got an unexpected keyword argument 'learning_rate'

##### Personalizacion del modelo

In [ ]:

# Crear el modelo SVD personalizado
model_svd_pr = SVD(n_factors=100, reg_all=0.1, random_state=42)

# Entrenar el modelo con los datos
model_svd_pr.fit(trainset)

# Obtener las predicciones para el conjunto de prueba
predictions_svd_pr = model_svd_pr.test(testset)

# Evaluar las predicciones utilizando una métrica, por ejemplo, RMSE
from surprise import accuracy
rmse = accuracy.rmse(predictions_svd_pr)

print("RMSE: ", rmse)

#### Modelo SVD++

In [250]:
# Crear y entrenar el modelo SVD++
model_svdpp = SVDpp()
model_svdpp.fit(trainset)

:

:

In [ ]:
prediccion_svdpp = model_svdpp.test(testset_cliente)

In [ ]:
cliente_id = 644573

In [ ]:

predicciones_cliente_svdpp = [pred for pred in prediccion_svdpp if pred[0] == cliente_id ]

predicciones_cliente_svdpp.sort(key=lambda x: x.est, reverse=True)
almacenes_recomendados_svdpp = [pred[1] for pred in predicciones_cliente_svdpp[:5]]
almacenes_recomendados_svdpp

In [ ]:
print("Predicción para el cliente", cliente_id, "usando SVD++:")
for pred in prediccion_svdpp:
    print(pred)

#### CoClustering

In [ ]:
# Crear y entrenar el modelo Co-Clustering
model_coclustering = CoClustering()
model_coclustering.fit(trainset)

# Realizar predicciones en el conjunto de prueba
predictions = model_coclustering.test(testset)

In [ ]:
prediccion_coclustering = model_coclustering.test(testset_cliente)

In [ ]:
print("Predicción para el cliente", cliente_id, "usando Co-Clustering:")
for pred in prediccion_coclustering:
    print(pred)

#### NMF

In [ ]:
# Crear y entrenar el modelo NMF
model_nmf = NMF()
model_nmf.fit(trainset)

# Realizar predicciones en el conjunto de prueba

In [ ]:
prediccion_nmf = model_nmf.test(testset_cliente)

In [ ]:
print("Predicción para el cliente", cliente_id, "usando NMF:")
for pred in prediccion_nmf:
    print(pred)

In [ ]:
# Evaluar el modelo utilizando validación cruzada
cross_validate(model, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

## Modelado con otra

In [93]:
from scipy.sparse.linalg import svds

# Ejemplo de datos
data = {
    'Persona': ['A', 'B', 'C', 'D', 'E'],
    'Categoria1': [1, 1, 0, 1, 0],
    'Categoria2': [0, 1, 1, 0, 1],
    'Categoria3': [1, 0, 1, 0, 0]
}

df = pd.DataFrame(data)
df.set_index('Persona', inplace=True)

# Convertir los datos a una matriz sparse
sparse_data = df_persona_almacen_bin.values.astype(float)
sparse_data = sparse_data.T

# Descomposición en valores singulares (SVD)
U, sigma, Vt = svds(sparse_data, k=2)  # k es el número de dimensiones latentes

# Reconstruir la matriz original
sigma = np.diag(sigma)
predicted_data = np.dot(np.dot(U, sigma), Vt)

# Crear un DataFrame con las predicciones
predicted_df = pd.DataFrame(predicted_data.T, columns=df_persona_almacen_bin.columns, index=df_persona_almacen_bin.index)

               AlmacenCodigo_10  AlmacenCodigo_17  AlmacenCodigo_35  \
PersonaCodigo
587                1.003462e-07      5.247913e-07      2.008450e-05
3384               6.171002e-10      3.934116e-09      1.260227e-07
7170               5.348819e-11      4.181098e-10      1.119695e-08
7860               2.623297e-10      1.229447e-08      9.127612e-08
12519              2.985249e-08      2.387266e-07      6.268244e-06
...                         ...               ...               ...
4986815            1.092075e-09      7.794473e-09      2.259752e-07
4987291            2.973110e-08      2.883007e-07      6.422169e-06
4997924            4.985008e-11      3.906191e-10      1.043873e-08
5001776            4.992036e-10      3.036610e-09      1.014283e-07
5039882            5.758725e-10      3.919922e-09      1.184858e-07

               AlmacenCodigo_194  AlmacenCodigo_303  AlmacenCodigo_318  \
PersonaCodigo
587                 2.896759e-10       6.193840e-06       2.158695e-05
3384                1.782020e-12       3.903556e-08       1.362486e-07
7170                1.545248e-13       3.486599e-09       1.219089e-08
7860                7.665159e-13       3.079937e-08       1.104448e-07
12519               8.624692e-11       1.953105e-06       6.830478e-06
...                          ...                ...                ...
4986815             3.154323e-12       7.019384e-08       2.452332e-07
4987291             8.593894e-11       2.012759e-06       7.052645e-06
4997924             1.440152e-13       3.250719e-09       1.136639e-08
5001776             1.441443e-12       3.138273e-08       1.094969e-07
5039882             1.663176e-12       3.676016e-08       1.283755e-07

               AlmacenCodigo_319  AlmacenCodigo_322  AlmacenCodigo_323  \
PersonaCodigo
587                 6.558665e-05       3.293159e-06       1.190290e-07
3384                4.043241e-07       2.075031e-08       7.395655e-10
7170                3.515296e-08       1.852938e-09       6.492916e-11
7860                1.866849e-07       1.631023e-08       4.281797e-10
12519               1.962684e-05       1.037939e-06       3.629542e-08
...                          ...                ...                ...
4986815             7.166876e-07       3.730841e-08       1.317716e-09
4987291             1.961749e-05       1.069356e-06       3.668930e-08
4997924             3.276328e-08       1.727575e-09       6.052303e-11
5001776             3.268749e-07       1.668311e-08       5.967091e-10
5039882             3.776583e-07       1.953932e-08       6.928197e-10

               AlmacenCodigo_331  ...  AlmacenCodigo_44121  \
PersonaCodigo                     ...
587                 1.981058e-05  ...         2.793477e-04
3384                1.242314e-07  ...         1.708459e-06
7170                1.103004e-08  ...         1.470528e-07
7860                8.891033e-08  ...         5.842794e-07
12519               6.174278e-06  ...         8.200032e-05
...                          ...  ...                  ...
4986815             2.226795e-07  ...         3.012314e-06
4987291             6.320951e-06  ...         8.099125e-05
4997924             1.028303e-08  ...         1.370380e-07
5001776             1.000013e-07  ...         1.384009e-06
5039882             1.167767e-07  ...         1.590996e-06

               AlmacenCodigo_44138  AlmacenCodigo_44142  AlmacenCodigo_44158  \
PersonaCodigo
587                   1.696341e-05         1.715026e-05         7.649296e-05
3384                  1.079098e-07         2.822166e-07         4.724047e-07
7170                  9.744912e-09         4.374516e-08         4.116414e-08
7860                  9.982071e-08         2.776197e-06         2.308030e-07
12519                 5.466061e-06         2.575858e-05         2.298944e-05
...                            ...                  ...                  ...
4986815               1.951939e-07         7.075698e-07         8.383582e-07
4987291               5.700546e-06         3.829343e-05         2.303863e-05
4997924               9.086906e-09         4.100679e-08         3.836695e-08
5001776               8.655271e-08         1.918158e-07         3.817402e-07
5039882               1.019633e-07         3.255385e-07         4.415458e-07

               AlmacenCodigo_44173  AlmacenCodigo_44482  AlmacenCodigo_44620  \
PersonaCodigo
587                   9.901964e-05         1.160902e-07         1.169278e-04
3384                  6.150030e-07         7.318827e-10         7.269935e-07
7170                  5.396767e-08         6.539682e-11         6.387763e-08
7860                  3.525237e-07         5.810590e-10         4.280932e-07
12519                 3.016617e-05         3.663542e-08         3.571121e-05
...                            ...                  ...                  ...
4986815               1.095500e-06         1.316355e-09         1.295880e-06
4987291               3.047694e-05         3.777093e-08         3.613249e-05
4997924               5.030507e-08         6.097281e-11         5.954349e-08
5001776               4.962560e-07         5.883494e-10         5.864667e-07
5039882               5.760475e-07         6.893052e-10         6.812107e-07

               AlmacenCodigo_44717  AlmacenCodigo_44777  AlmacenCodigo_45159
PersonaCodigo
587                   2.093182e-07         7.227985e-05         5.670347e-05
3384                  1.295445e-09         4.569938e-07         3.582265e-07
7170                  1.131793e-10         4.097379e-08         3.208816e-08
7860                  6.739031e-10         3.820281e-07         2.953012e-07
12519                 6.322924e-08         2.296302e-05         1.798120e-05
...                            ...                  ...                  ...
4986815               2.302187e-09         8.234487e-07         6.451556e-07
4987291               6.355843e-08         2.376310e-05         1.858863e-05
4997924               1.054922e-10         3.820363e-08         2.991838e-08
5001776               1.046258e-09         3.671065e-07         2.878232e-07
5039882               1.211782e-09         4.308577e-07         3.376416e-07

[9878 rows x 1718 columns]

In [94]:
def recommend_categories(user, predicted_df, top_n=3):
    user_predictions = predicted_df.loc[user]
    recommended_categories = user_predictions.sort_values(ascending=False).head(top_n).index.tolist()

    return recommended_categories

# Ejemplo de recomendación para el usuario 'A'
user = 644573
recommendations = recommend_categories(user, predicted_df)
print(f"Recomendaciones para el usuario {user}: {recommendations}")

Recomendaciones para el usuario 644573: ['AlmacenCodigo_20787', 'AlmacenCodigo_15124', 'AlmacenCodigo_21961']

In [96]:
df_recommended_svd = pd.DataFrame()
list=[20787,15124,21961]
for index in list:
    df_recommended_svd = pd.concat([df_recommended_svd, df_almacen[df_almacen['AlmacenCodigo']==int(index)]])

df_recommended_svd

    AlmacenCodigo  Categoria      Ubicacion_Almacen   Canal
718         20787  Vestuario  Valle Del Cauca-Tulua  Fisico
701         15124  Vestuario  Valle Del Cauca-Tulua  Fisico
146         21961  Vestuario  Valle Del Cauca-Tulua  Fisico